<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/reset.css"/>
        <link rel="stylesheet" href="/css/layout.css"/>
        <link rel="stylesheet" href="/css/app.css"/>
        <link rel="stylesheet" href="/css/nav.css"/>
        <link rel="stylesheet" href="/css/grid.css"/>

        <script src="/js/lib/vendor/zepto.js"></script>
        <script src="/js/lib/netflix/index.js"></script>
        <script src="/js/lib/netflix/util.js"></script>
        <script src="/js/lib/netflix/ui.js"></script>
        <script>
            // application entrypoint
            $(document).ready(function() {
                window.theApp = new netflix.ui.App({
                    // toggle animations on/off
                    animations: true,
                    // language
                    language: 'en-US',
                    // our (static) data structure
                    // replace with request object wrapper, caching object handler in the future etc...
                    data: [{
                            section: 'Suggestions For You',
                            active: true,
                            id: 'suggestions',
                            action: '/list/suggestions',
                            grid: [
                                    { src: '/images/boxart/408939.jpg' },
                                    { src: '/images/boxart/443317.jpg' },
                                    { src: '/images/boxart/445522.jpg' },
                                    { src: '/images/boxart/528009.jpg' },
                                    { src: '/images/boxart/541027.jpg' },
                                    { src: '/images/boxart/806456.jpg' },
                                    { src: '/images/boxart/14546619.jpg' },
                                    { src: '/images/boxart/60000890.jpg' }
                                ]
                           },
                           {
                            section: 'Recently Watched',
                            action: '/list/recent',
                            id: 'recent',
                            grid: [
                                    { src: '/images/boxart/60002556.jpg' },
                                    { src: '/images/boxart/60020435.jpg' },
                                    { src: '/images/boxart/60022048.jpg' },
                                    { src: '/images/boxart/60022922.jpg' },
                                    { src: '/images/boxart/60023619.jpg' },
                                    { src: '/images/boxart/60028202.jpg' },
                                    { src: '/images/boxart/60030359.jpg' },
                                    { src: '/images/boxart/60030529.jpg' }
                                ]
                           },
                           {
                            section: 'New Arrivals',
                            action: '/list/new',
                            id: 'new',
                            grid: [
                                    { src: '/images/boxart/60030653.jpg' },
                                    { src: '/images/boxart/60034311.jpg' },
                                    { src: '/images/boxart/60035214.jpg' },
                                    { src: '/images/boxart/70003040.jpg' },
                                    { src: '/images/boxart/70011274.jpg' },
                                    { src: '/images/boxart/70018715.jpg' },
                                    { src: '/images/boxart/70019981.jpg' },
                                    { src: '/images/boxart/70019994.jpg' }
                                ]
                           },
                           {
                            section: 'Instant Queue',
                            action: '/list/instant',
                            id: 'instant',
                            grid: [
                                    { src: '/images/boxart/70020062.jpg' },
                                    { src: '/images/boxart/70023522.jpg' },
                                    { src: '/images/boxart/70033005.jpg' },
                                    { src: '/images/boxart/70038489.jpg' },
                                    { src: '/images/boxart/70044300.jpg' },
                                    { src: '/images/boxart/70058399.jpg' },
                                    { src: '/images/boxart/70058400.jpg' },
                                    { src: '/images/boxart/70059201.jpg' }
                                ]
                            }
                       ],
                   // UI component configuration
                   ui: [{
                            object: 'ui.List',
                            id: 'navList',
                            position: 'left',
                            template: 'list-tpl',
                            focus: true,
                            bounces: {
                                right: 'titleGrid'
                            }
                        },
                        {
                            object: 'ui.Collection',
                            id: 'titleGrid',
                            position: 'right',
                            template: 'grid-tpl',
                            contains: 'ui.Grid',
                            focus: false,
                            bounces: {
                                left: 'navList',
                                right: 'navList'
                            }
                        }],
                    // UI Input configuration
                    inputHandler: [{
                        object: 'ui.input.Keyboard',
                        interval: 150,
                        keyMap: [{
                                    source: 'keyDown',
                                    params: [37],
                                    emit: 'nav:left'
                                },
                                {
                                    source: 'keyDown',
                                    params: [38],
                                    emit: 'nav:up'
                                },
                                {
                                    source: 'keyDown',
                                    params: [39],
                                    emit: 'nav:right'
                                },
                                {
                                    source: 'keyDown',
                                    params: [40],
                                    emit: 'nav:down'
                                },
                                {
                                    source: 'keyPress',
                                    params: [13],
                                    emit: 'nav:enter'
                                }
                        ]
                    }]
                });

                // render our app
                window.theApp.render();
            });
        </script>
    </head>
    <body>
        <div id="container">
            <div id="app"> 
                <div id="top" class="grid span-12"></div>
                <div class="clear"></div>
                <div id="left" class="grid span-3"></div>
                <div id="right" class="grid span-9"></div>
                <img id="animations" src="/css/animations.css" />
            </div>
        </div>
        <script type="text/template" id="list-tpl">
            <div class="nav">
                <div class="cursor"></div>
                <ul>
                    <% for(var i = 0; item = items[i]; i++) { %>
                        <% if(item.active) { %>
                            <li class="active" id="<%= item.id %>" data-action="<%= item.action %>"><%= item.section %></li>
                        <% } else { %>
                            <li id="<%= item.id %>" data-action="<%= item.action %>"><%= item.section %></li>
                        <% } %>
                    <% } %>
                </ul>
            </div>
        </script>
        <script type="text/template" id="grid-tpl">
            <div class="grid">
                <span class="title"><%= item.section %></span>
                <div class="cursor r0 c0"></div>
                <ul id="<%= item.action %>">
                    <% for (var i = 0; gridItem = item.grid[i]; i++) { %>
                        <li><img src="<%= gridItem.src %>"/></li>
                    <% } %>
                </ul>
            </div>
        </script>
    </body>
</html>
