#app {
    height: 550px;
    font-family: arial;
}

#app div#top {
    height: 45px;
}

#app div#left {
    height: 100%; 
}

#app div#right {
    height: 100%;
}



#app div#top {
    background: #930f06;
}

#app div#left {
    background: #211d1d;
}

#app div#right {
    background: #3b3534;
}

#app img#animations {
    display: none;
}
